<h1>
	{{#if editingEvent}}
		Editing {{event.title}}
	{{else}}
		New event
	{{/if}}
</h1>

<form action="{{postPath}}{{#if editingEvent}}?_method=PUT{{/if}}" method="POST" enctype="multipart/form-data">
	{{#if editingEvent}}
		<input id="event-id" name="_id" type="hidden" value="{{event._id}}">
	{{/if}}

	<div class="form__input-group">
		<label for="input-title">What?</label>
		<input id="input-title" name="title" type="text" value="{{event.title}}">
	</div>

	<div class="form__input-group">
		<label for="input-title">When?</label>
		<input id="input-time" name="startString" type="text" value="{{event.startString}}" placeholder="Eg: 2011-04-02 11:00">
	</div>

	<div class="form__input-group">
		<label for="input-body">Show me!</label>
		<textarea id="input-body" name="body">{{event.body}}</textarea>
	</div>

	<div class="form__input-group">
		<label for="input-text-color">Text</label>
		<input id="input-text-color" name="style.text.color" type="color" value="{{event.style.text.color}}">
		<label for="input-text-color" style="display: inline;">Color</label>
	</div>

	<div class="form__input-group">
		<label for="input-background-image">Background</label>
		<input id="input-background-color" name="style.background.color" type="color" value="{{event.style.background.color}}">
		<input id="input-background-image" name="backgroundImage" type="file">
	</div>

	<div class="form__actions">
		<button>Go!</button>
	</div>
</form>
