<h1>
	{{#if event}}
		Editing {{event.title}}
	{{else}}
		New event
	{{/if}}
</h1>

<form action="{{postPath}}" method="POST" enctype="multipart/form-data">
	{{#if event}}
		<input type="hidden" name="_method" value="PUT">
	{{/if}}

	<div class="form__input-group">
		<label for="input-title">Title</label>
		<input id="input-title" name="title" type="text" value="{{event.title}}">
	</div>

	<div class="form__input-group">
		<label for="input-title">Time</label>
		<input id="input-time" name="time" type="text" value="{{event.start.dateTimeString}}" placeholder="Eg: 2011-04-02 11:00">
	</div>

	<div class="form__input-group">
		<label for="input-body">Text</label>
		<textarea id="input-body"  name="body-md">{{event.body.md}}</textarea>
	</div>

	<div class="form__input-group">
		<label for="input-color">Text color</label>
		<input id="input-color" name="textColor" type="color" value="{{event.textColor}}">
	</div>

	<div class="form__input-group">
		<label for="input-background">Background image</label>
		<input id="input-background" name="background-image" type="file" value="{{event.background.image}}">
	</div>

	<div class="form__actions">
		<button>Save</button>
	</div>
</form>
