{{#with event}}
	<div
		class="event"
		style="
			color: {{style.text.color}};
			background-image: url({{style.background.image}});
			background-color: {{style.background.color}};
		">
		<div class="event__body">
			{{{compileEventBody bodyMarkup this}}}
			<hr>
			{{bodyMarkup}}
		</div>
	</div>
{{/with}}
