<main class="page page--form">
	<h1>{{title}}</h1>

	<form action="{{postPath}}" method="POST" enctype="multipart/form-data">
		{{#if event}}
			<input id="fi-id" name="_id" type="hidden" value="{{event._id}}">
		{{/if}}

		<div class="form__input-group">
			<label for="fi-title">Title</label>
			<input id="fi-title" name="title" type="text" value="{{event.title}}">
		</div>

		<div class="form__input-group">
			<label for="fi-startString">Date/time</label>
			<input id="fi-startString" name="startString" type="text" value="{{event.startString}}" placeholder="Eg: 2011-04-02 11:00">
		</div>

		<div class="form__input-group form__input-group--multi-line">
			<label for="fi-body">Describe</label>
			<textarea id="fi-body" name="body" rows="10">{{event.body}}</textarea>
		</div>

		<fieldset class="form__cluster">
			<legend>Text</legend>

			<div class="form__input-group">
				<label for="fi-text-color">Color</label>
				<input id="fi-text-color" name="style.text.color" type="color" value="{{event.style.text.color}}">
			</div>

			<div class="form__input-group">
				<label for="fi-text-fontBody">Font</label>
				<input id="fi-text-fontBody" name="style.text.fontBody" type="text" value="{{event.style.text.fontBody}}" placeholder="Body">
				<input id="fi-text-fontHeading" name="style.text.fontHeading" type="text" value="{{event.style.text.fontHeading}}" placeholder="Headings">
			</div>

			<div class="form__input-group">
				<label for="fi-tickerFormat">Ticker format</label>
				<input id="fi-tickerFormat" name="style.tickerFormat" type="text" value="{{event.style.tickerFormat}}">
			</div>
		</fieldset>

		<fieldset class="form__cluster">
			<legend>Background</legend>

			<div class="form__input-group">
				<label for="fi-background-color">Color</label>
				<input id="fi-background-color" name="style.background.color" type="color" value="{{event.style.background.color}}">
			</div>

			<div class="form__input-group">
				<label for="fi-background-image">Image</label>
				<input id="fi-background-image" name="style.background.image" type="file">
			</div>
		</fieldset>

		<div class="form__actions">
			<button>Done ✓</button>
		</div>
	</form>
</main>
